.dnSlide-main {
  position: relative;
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 800px;
  height: 234px;
  margin-left: auto;
  margin-right: auto;
  -webkit-tap-highlight-color: transparent;
}
.dnSlide-main.done {
  visibility: visible;
}
.dnSlide-main.dn-response {
  width: 100%;
}
.dnSlide-main.dn-response .dnSlide-list {
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 0px;
}
.dnSlide-main a, .dnSlide-main img {
  display: block;
  border: 0px;
}
.dnSlide-main .dnSlide-list {
  width: 800px;
  height: 234px;
  list-style: none;
}
.dnSlide-main .dnSlide-btn {
  color: black;
  height: 234px;
  width: 100px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: opacity 0.3s;
  z-index: 10;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}
.dnSlide-main .dnSlide-btn:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}
.dnSlide-main.dnSlide-hide {
  display: none;
}
.dnSlide-main .dnSlide-item {
  position: absolute;
  top: 0px;
  left: 0px;
}
.dnSlide-main .dnSlide-left-btn {
  background-image: url("../images/left.svg");
  background-size: 35%;
  left: 0;
}
.dnSlide-main .dnSlide-right-btn {
  background-image: url("../images/right.svg");
  background-size: 35%;
  right: 0;
  left: auto;
}

@media \0screen\,screen\9 {
  .dnSlide-main {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .dnSlide-main .dnSlide-right-btn {
    background-image: url("../images/right.png");
  }

  .dnSlide-main .dnSlide-left-btn {
    background-image: url("../images/left.png");
  }
}
